body {
    padding: 0px;
}

.card_list {
    border: solid black 2px;
    margin-bottom: 6px;
    margin-top: 6px;
}

.Mprofile {
    border: solid black 3px;
    width:25%;
    height: 100%

}

.Mbox {
    width: 100%;
    height: 30%;
    border: solid black 3px;
}

.Mboard {
    width: 100%;
    height: 40%;
    border: solid black 3px;
    display: flex;
    
}

.MypageBody {
    margin: 0;
    padding: 0;

}

.margin {
    margin-bottom: 5px;
}

.Minfo {
    width:100%;
    height:100%;
    border:solid black 3px;
}

.round {
    width: 150px;
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;
    border: 2px black;
}

.img-thumbnail {
    float: left;
    height:100%;
    width:50%
}
.size-1 {
    height:10%;
}
.header {
    height:75%
}

.details {
    border: solid black 2px;
    float: right;
    width:50%;
    height:100%;
    margin-top: 6px;
}

.align {
    height:50%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

button {
    vertical-align: bottom;
}

.card-title {
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

/* div {
    height: 200px;
} */

table {
    text-align: center;
}

.card-body {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    height: 100%; 
}

.signin-card {
    margin-top: 20px;
    min-width: 400px;
    justify-content: flex-start;
    height: 360px;
    max-width: 500px;
}

.signin-logo {
    margin-top: 50px;
    text-align: center;
}

.signin-logo img {
    height: 150px;
}

.signin-title {
    font-size: 20px;
    font-weight: bold;
}

.home_image {
    height: 550px;
    background-position: center;
    background-image: url(../images/club.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home_inner {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
}

.home_title {
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-bottom: 80px;
}

.home_description {
    font-size: 25px;
    color: white;
}

.home_button {
    background-color: #9d2434;
    color: white;
    width: 180px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    cursor: pointer;
}